@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}